.scrollTop {
  position: fixed;
  width: 35px;
  bottom: 46px;
  right: 12%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .scrollTop {
    bottom: 16px;
    right: 5%;

    z-index: 1000;
  }
}
