/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand:wght@300;400;500;600;700&display=swap"); */
/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/merriweather-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/merriweather-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/merriweather-v30-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/merriweather-v30-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/merriweather-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/merriweather-v30-latin-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/merriweather-v30-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/merriweather-v30-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/merriweather-v30-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/merriweather-v30-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/merriweather-v30-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/merriweather-v30-latin-italic.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/merriweather-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/merriweather-v30-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/merriweather-v30-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/merriweather-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/merriweather-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/merriweather-v30-latin-700.svg#Merriweather") format("svg"); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/merriweather-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/merriweather-v30-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/merriweather-v30-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/merriweather-v30-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/merriweather-v30-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/merriweather-v30-latin-900.svg#Merriweather") format("svg"); /* Legacy iOS */
}
/* merriweather-900italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: url("./fonts/merriweather-v30-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/merriweather-v30-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/merriweather-v30-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/merriweather-v30-latin-900italic.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/merriweather-v30-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/merriweather-v30-latin-900italic.svg#Merriweather")
      format("svg"); /* Legacy iOS */
}
/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/architects-daughter-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/architects-daughter-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/architects-daughter-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/architects-daughter-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/architects-daughter-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/architects-daughter-v18-latin-regular.svg#ArchitectsDaughter")
      format("svg"); /* Legacy iOS */
}
/* quicksand-300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/quicksand-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/quicksand-v30-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/quicksand-v30-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/quicksand-v30-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/quicksand-v30-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/quicksand-v30-latin-300.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/quicksand-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/quicksand-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/quicksand-v30-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/quicksand-v30-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/quicksand-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/quicksand-v30-latin-regular.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/quicksand-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/quicksand-v30-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/quicksand-v30-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/quicksand-v30-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/quicksand-v30-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/quicksand-v30-latin-500.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/quicksand-v30-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/quicksand-v30-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/quicksand-v30-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/quicksand-v30-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/quicksand-v30-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/quicksand-v30-latin-600.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/quicksand-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/quicksand-v30-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/quicksand-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/quicksand-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/quicksand-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/quicksand-v30-latin-700.svg#Quicksand") format("svg"); /* Legacy iOS */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h77base: #94a3b8;
  --h77secbase: #de6e4a;
  --h77bg: #6ee7b7;
}

body {
  /* background-color: var(--h77bg); */
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badge {
  @apply absolute p-1 -mr-2 text-xs font-bold rounded-full -top-2 left-20 bg-primary-light text-secondary-dark opacity-70 rotate-12;
}

.card {
  @apply pb-2 font-bold border-b text-secondary border-secondary-light;
}

.menu-button {
  @apply flex justify-center w-full mb-4;
}

.mobile-menu {
  @apply flex items-center justify-center ml-2 outline-none;
}

.footerIcon {
  @apply duration-500 hover:text-orange-600 text-primary-dark hover:bg-primary-dark hover:rounded-full;
}

/* Firefox */
* {
  scrollbar-color: var(--h77base) var(--h77bg);
  scrollbar-width: thin;
}

/* WebKit / Blink */
::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.5em !important;
}

::-webkit-scrollbar-track {
  background: var(--h77bg) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375em !important;
  background: var(--h77base) !important;
}

::-webkit-scrollbar-corner {
  background: var(--h77base) !important;
}
